DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pipanisasi_bahagia?schema=public"
NEXTAUTH_SECRET="pipanisasi-bahagia-super-secret-key-change-in-production"
NEXTAUTH_URL="http://localhost:3000"
NODE_ENV="development"
UPLOAD_DIR="./public/uploads"
